/* personal preference to use universal selector to take control of margins and paddings*/
* {
    margin: 0;
    padding: 0;
}

/* header styles*/
.header-container {
    width: 80%;
    margin: 0 auto;
}

header {
    min-height: 4em;
    border-bottom: 3px solid #c4c4c4;
}

.header-container h2 {
    float: left;
    margin: 0.8em 0;
}

.header-container h2 .brand {
    color: #F0810C;
}

.header-container h2,
.header-container h2 .brand {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

nav {
    float: right;
    margin: 1.5em;
}

nav ul {
    display: flex;
}

.nav-item {
    list-style-type: none;
}

#active-link {
    color: #F0810C;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav ul li a {
    margin: 0 1em;
    color: #3B698D;
}


/* welcome section styles*/

.welcome-section {
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-align: center;
    background-image: url('./images/mercedes.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

.welcome-section h1 {
    padding: 0.5em;
    font-weight: 800;
    font-style: oblique
}

#shop-button {
    margin-top: 20em;
    background-color: #F0810C;
    border: none;
}

#shop-button:hover,
#sell-button:hover {
    background-color: #ffffff;
    color: #F0810C;
    cursor: pointer;
}

#sell-button {
    background-color: rgb(0, 0, 0);
    /*Fallback color*/
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #F0810C;
    margin-left: 2.5em;
}

#shop-button,
#sell-button {
    padding: 0.8em 1.5em;
    color: #fff;
    border-radius: 5px;
}

#quick-section {
    display: flex;
}

#quick-section #left-side {
    width: 70%;
    margin: auto;
    min-height: 400px;
}

#quick-section #right-side {
    width: 30%;
    margin: auto;
}

#main-box,
#finder > * {
    border: 1px solid #c4c4c4;
    margin: 1em;
    width: 200px;
    height: 160px;
    border-radius: 5px;
}

.finder-card {
    padding: 0.5em;
}

.finder-title {
    margin: 0.3em;
}

#main-box {
    width: 50%;
    margin: auto;
}

#quick-section #right-side {}

#quick-section #left-side #finder {
    display: flex;
}

#quick-section #left-side ul {
    text-align: center;
    height: 370px;
    padding: 1em;
}

#quick-form {
    padding: 1em;
    background-color: #3B698D;
    margin: 0.5em;
    min-height: 370px;
    border-radius: 5px;
}

#search-icon,
#resellers,
#main-icon {
    border-radius: 50%;
    border: 2px solid #c4c4c4;
    width: 30px;
    height: 30px;
}

.quick-select {
    margin: 1em;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 150px;
    padding: 0.5em;
}

#finder {
    width: 60%;
    margin: auto;
}

#footer-container {
    display: flex;
    width: 80%;
    color: #ffffff;
    margin: auto;
    text-align: center;
}

#footer-container > * {
    margin: 1em;
}

#footer-container ul > * {
    margin: 0.4em;
}

footer {
    background-color: #041022;
}

.footer-title {
    color: #c4c4c4;
    font-weight: bold;
}

/* sign up form styles */
.form-container {
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    border: 2px solid #3B698D;
    ;
    border-radius: 10px;
    text-align: center;
}

#signin-title {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}

.form-container form {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 0.5em;
}

/* apply same font-family to labels */
.signup-label {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.form-container button,
#signup-button {
    padding: 0.5em 2.5em;
    border-radius: 10px;
    border: none;
    margin-top: 0.8em;
}

#email-input,
#password-input,
#new-password {
    padding: 0.6em;
    border: none;
    margin-top: 0.5em
}

#pass-alert {
    font-size: 0.8em;
    font-style: italic;
    color: #e74c3c;
}

#signup-link,
#signin-link {
    text-decoration: none;
}

#signin-button,
#signup-button {
    color: #ffffff;
    cursor: pointer;
}

#signup-button,
#signin-link,
#confirm-password,
#new-password,
#user-profile {
    display: none;
}

#signup-link,
#signin-link,
#reset-password {
    color: #3B698D;
}

#reset-password {
    font-size: 0.8em;
    font-style: italic;
    cursor: pointer;
}

/* reset password modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 1em auto;
    padding: 2em;
    min-height: 100px;
    border: 1px solid #888;
    width: 60%;
}

#modal-text {
    float: left;
}

/* modal close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 1em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#send-resetform {
    margin-top: 0.5em;
}

#send-resetbutton {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0.5em;
    color: #ffffff;
    cursor: pointer;
}

#send-resetinput {
    border-radius: 5px;
    padding: 0.5em;
}

/* user profile image appears in signup.html page */
#user-profile {
    cursor: pointer;
}

/* buy section main menu */
.buy-section,
#send-resetbutton,
#signup-button,
#signin-button {
    background-color: #3B698D;
}

.buy-section {
    height: 150px;
    color: #ffffff;
}

.buy-section button {
    margin: auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 1em;
    width: 50%;
    background-color: #3B698D;
    ;
}

.buy-section button a {
    color: #ffffff;
}

#buy-selector {
    display: flex;
}

#buy-selector li {
    text-decoration: none;
}

.selector-item {
    width: 15%;
    margin: auto;
    padding: 0.5em;
    text-align: center;
}

.selector-item:hover {
    background-color: #F0810C;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
}

.item-border {
    border-right: 2px solid #3B698D;
    border-bottom: 2px solid #3B698D;
}

/* buy side menu*/
#create-ad {
    background-color: #F0810C;
    padding: 0.8em;
    border: none;
    border-radius: 20px;
    margin: 0.8em;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

#left-sidemenu {
    height: 200px;
    border: 1px solid #c4c4c4;
    width: 23%;
    height: 100%;
}

.side-item {
    border-bottom: 1px solid #f4f4f4;
    padding: 0.8em;
}

.arrow-item {
    float: right;
}

#side-menu {
    padding: 0.2em;
    display: flex;
}

/* car card */

.right-sidemenu {
    width: 70%;
    margin: auto;
    padding: 0.2em;
}

.right-sidemenu ul {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.car-card,
.car-profile,
.car-detail {
    width: 246px;
}

.car-state {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 15px;
    padding: 0.2em;
    background-color: yellow;
}

.car-picture {
    width: 100%;
    height: 100%;
}

.car-profile {
    max-height: 164px;
    position: relative;
}

.car-title {
    margin: 0.2em;
}

.car-detail {
    max-height: 82px;
    max-width: 200px;
}

.car-card {
    margin: 0.5em;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
}

/* sell page styles */
#user-pro {
    margin: 0 0.2em;
}

#sell-selectorcontainer {
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
}

.dealer-selector,
.private-selector {
    width: 40%;
    margin: auto;
}

.dealer-selector img,
.private-selector img {
    border-radius: 50%;
    border: 2px solid #3B698D;
}

.dealer-selector img {
    width: 100px;
    height: 100px;
}

.bullet-container {
    display: flex;
    width: 20%;
    margin: auto;
}

.bullet-container hr {
    width: 100%;
    margin: auto;
}

.bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F0810C;
}

/* sell tips section */
#sell-precautions {
    text-align: center;
}

#sell-precautions ul li {
    display: flex;
}

.sell-tips {
    width: 50%;
    margin: auto;
}

/* post ad form */
#postupdate {
    display: flex;
    width: 100%;
}

#postform {
    width: 60%;
    margin: 0.2em;
}

#updateform {
    width: 40%;
}

#car-registerform {
    padding: 0.8em;
}

.car-selectinfo,
.dealer-input {
    width: 200px;
    min-height: 40px;
    margin: 0.5em;
    border-radius: 10px;
    padding: 0.1em;
}

.instrunctions,
.cautions {
    margin: 0.5em;
}

#multi-pic {
    display: flex;
}

#multi-pic li img {
    width: 50px;
    height: 50px;
}

#add-pic {
    width: 100%;
    min-height: 150px;
    background-color: #f4f4f4;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;

}

#save-carinfo,
#submit-dealer,
#proposal-container button {
    padding: 0.8em 3em;
    margin: 0.5em;
    color: #ffffff;
    background: #3498DB;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#add-pic p,
#add-pic img {
    margin-top: 1em;
}

.feature-title {
    margin: 0.5em;
    color: #ffffff;
    background-color: #3B698D;
    padding: 0.2em;
    border-radius: 5px;
}

#update-carcontainer {
    width: 100%;
    margin: auto;
    padding: 0.2em;
}

#update-carcontainer img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 0.4em;
}

.car-updateinfo {
    display: flex;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    min-height: 100px;
    margin-top: 0.5em;
}

.car-updateinfo ul {
    width: 50%;
    margin: auto;
}

#delete,
#update {
    margin: 0.5em;
}

#delete a,
#update a {
    padding: 0.5em;
    color: #3498DB;
}

/*car details*/
#picdetail-container {
    display: flex;
    padding: 1em;
}

#divider {
    width: 90%;
    height: 2px;
    margin: auto;
    border-radius: 10px;
    background-color: #c4c4c4;
}

#picdetail-container #purchase {
    width: 30%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    background-color: #F0810C;

}

#picdetail-container #purchase a {
    color: #ffffff;
}

#picdetail-container #report {
    width: 30%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    border-color: #3B698D;
}

#picdetail-container ul {
    width: 50%;
    margin: auto;
    padding: 0.5em;
}

#single-pic {
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 1em;
    border-radius: 20px;
}

#multipic-container {
    display: flex;
    width: 50%;
    margin: auto;
}

#multipic-container li img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

#multipic-container li {
    margin: 0.5em;
}

/* similar ads */
#similar-section {
    margin: 2em;
}

.similar-card {
    width: 20%;
    margin: 1em auto;
    min-height: 220px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.similar-profile {
    position: relative;
}

.similar-state {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 15px;
    padding: 0.2em;
    background-color: yellow;
}

#similar-cars {
    text-align: center;
}

#similar-cars ul {
    display: flex;
}

.similar-picture {
    width: 100%;
}

/* more section */

#more-section {
    display: flex;
    width: 100%;
    margin: auto;
}

#more-section > * {
    width: 30%;
    margin: auto;
}

#more-section h2 {
    margin-bottom: 0.3em;
}

#more-section h2 span {
    color: #F0810C;
}

.additional-container ul {}

.contact-infocontainer .callinfo {
    text-align: center;
}

.call-info img {
    border-radius: 50%;
    border: 1px solid #c4c4c4;
    padding: 0.2em;
}

.call-info {
    display: flex;
    margin: 0.5em;
}

.call-info > p {
    margin: 0.5em;
}

#dealer-section {
    display: flex;
    width: 100%;
}

#dealer-section #leftside {
    width: 50%;
    margin: auto;
    text-align: center;
}

#dealer-section #rightside {
    width: 50%;
    margin: auto;
    text-align: center;
}

#dealerform h2 {
    margin: 0.2em;
}

/* purchase order */
#bank-option,
#cash-option {
    display: flex;
    border: 1px solid #c4c4c4;
    margin: 0.5em;
    padding: 0.8em;
    min-height: 100px;
}

#payoption {
    margin: 0.6em;
    padding: 0.7em;
    background-color: #3B698D;
    color: #ffffff;
    border-radius: 3px;
}

.cash-text {
    width: 60%;
    margin: auto;
}

.cash-button {
    width: 30%;
    margin: auto;
}

.cash-button button {
    padding: 0.5em;
    border: 1px solid #3B698D;
    background-color: #ffffff;
    border-radius: 5px;
    color: #3B698D;
}

.cash-button button:hover {
    background: #3B698D;
    color: #ffffff;
    cursor: pointer;
}

#payment-section {
    width: 100%;
    display: flex;
    border-bottom: 10px solid #3B698D;
}

#payment-section #leftside,
#payment-section #rightside {
    width: 50%;
    margin: auto;
}

#car {
    width: 70%;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: auto;
}

#payment-section #rightside {
    text-align: center;
    width: 50%;
    margin: auto;
}

/* price proposal */

#proposal-container {
    min-height: 200px;
}

#proposal-section {
    width: 40%;
    margin: auto;
}

#proposal-section h3 {
    margin: 1em;
}

.offer {
    margin: 0.5em;
    padding: 0.3em;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

/* purchase history */
#purchase-history {
    width: 80%;
    margin: auto;
    display: flex;
    min-height: 50px;
    margin-bottom: 0.5em;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 1em;
}

#purchase-text {
    width: 80%;
    margin: auto;
}

#edit-button {
    width: 20%;
    margin: auto;
}

/* media queries to target specific screen resolution */
@media(max-width : 535px) {
    nav ul li a {
        margin: 0 0.6em;
    }

}
